global:
  imagePullPolicy: IfNotPresent

app:
  gateway:
    enabled: true
    serviceAccountName: gateway
    image: { repository: gateway-bff, tag: dev }
    port: 8080
    servicePort: 80
    env:
      SPRING_PROFILES_ACTIVE: local
      ACCOUNT_BASE_URL: http://account:80
      ENTITLEMENT_BASE_URL: http://entitlement:80
      MATCHMAKING_BASE_URL: http://matchmaking:80
      NOTIFICATION_BASE_URL: http://notification:80
      OIDC_AUTHORIZATION_URI: http://keycloak.localhost/realms/miniserversystem/protocol/openid-connect/auth
      OIDC_TOKEN_URI: http://keycloak:8080/realms/miniserversystem/protocol/openid-connect/token
      OIDC_USER_INFO_URI: http://keycloak:8080/realms/miniserversystem/protocol/openid-connect/userinfo
      OIDC_JWK_SET_URI: http://keycloak:8080/realms/miniserversystem/protocol/openid-connect/certs
      OIDC_CLIENT_ID: gateway-bff
      OIDC_CLIENT_SECRET: fovHK8ZOOKXRpyMYYeShF0QQpIQbiIZe
      OIDC_REDIRECT_URI: http://localhost:18080/login/oauth2/code/keycloak
      ACCOUNT_INTERNAL_API_TOKEN: changeit-internal

  account:
    enabled: true
    serviceAccountName: account
    image: { repository: account, tag: dev }
    port: 8080
    servicePort: 80
    env:
      SPRING_PROFILES_ACTIVE: local
      POSTGRES_HOST: postgres
      POSTGRES_PORT: "5432"
      POSTGRES_DB: miniserversystem
      POSTGRES_USER: miniserversystem
      POSTGRES_PASSWORD: miniserversystem
      ACCOUNT_INTERNAL_API_TOKEN: changeit-internal

  entitlement:
    enabled: true
    serviceAccountName: entitlement
    image: { repository: entitlement, tag: dev }
    port: 8080
    servicePort: 80
    env:
      SPRING_PROFILES_ACTIVE: local
      POSTGRES_HOST: postgres
      POSTGRES_PORT: "5432"
      POSTGRES_DB: miniserversystem
      POSTGRES_USER: miniserversystem
      POSTGRES_PASSWORD: miniserversystem
      NATS_URL: nats://nats.miniserversystem.svc.cluster.local:4222

  matchmaking:
    enabled: true
    serviceAccountName: matchmaking
    image: { repository: matchmaking, tag: dev }
    port: 8080
    servicePort: 80
    env:
      SPRING_PROFILES_ACTIVE: local
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      NATS_URL: nats://nats.miniserversystem.svc.cluster.local:4222

  notification:
    enabled: true
    serviceAccountName: notification
    strategy: Recreate
    image: { repository: notification, tag: dev }
    port: 8080
    servicePort: 80
    env:
      SPRING_PROFILES_ACTIVE: local
      POSTGRES_HOST: postgres
      POSTGRES_PORT: "5432"
      POSTGRES_DB: miniserversystem
      POSTGRES_USER: miniserversystem
      POSTGRES_PASSWORD: miniserversystem
      NATS_URL: nats://nats.miniserversystem.svc.cluster.local:4222

ingress:
  enabled: false
  host: localhost
  path: /

istio:
  enabled: true
  ingress:
    enabled: true
    hosts:
      - "*"
    path: /
  security:
    enabled: true
    # Istio installation differences are absorbed by listing both common principal names.
    ingressGatewayPrincipals:
      - cluster.local/ns/istio-system/sa/istio-ingressgateway
      - cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account
    notificationDenyAll: true
  externalEntitlementApi:
    paths:
      - /v1/entitlements/grants
      - /v1/entitlements/revokes
