server:
  port: 8080

spring:
  application:
    name: account

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
