server:
  port: 8080

spring:
  application:
    name: account
  flyway:
    enabled: true
    locations: classpath:db/migration
    create-schemas: true
    default-schema: account
    schemas: account
    table: flyway_schema_history_account

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
